@using Microsoft.AspNetCore.Http.Authentication
@model IEnumerable<AuthenticationDescription>

<div class="jumbotron">
    <h1>Authentication</h1>
    <p class="lead text-center">Sign in using external provider:</p>
    
    @foreach (var description in Model) {
        <form action="/signin" method="post">
            <input type="hidden" name="Provider" value="@description.AuthenticationScheme" />
            <button class="btn btn-lg btn-success" type="submit">@description.DisplayName</button>
        </form>
    }
</div>