@model string
@using Mvc.Client.Interfaces
@using Mvc.Client
@inject TokenStorageService TokenService

<div class="jumbotron">
	@if (!String.IsNullOrEmpty(Context.Request.Query["err"])){
        <div class="alert alert-danger">
          @Context.Request.Query["err"]
        </div>
	}
	
    @if (User?.Identity?.IsAuthenticated ?? false) {
        <h1>Welcome, @User.Identity.Name</h1>
        <form action="/initsignout" method="post">
            <button class="btn btn-lg btn-danger" type="submit">Sign out</button>
		</form>
    }

    else {
        <h1>Welcome, anonymous</h1>
        <a class="btn btn-lg btn-success" href="/signin">Sign in</a>
    }
</div>