@model string

<div class="jumbotron">
	@if (!String.IsNullOrEmpty(Context.Request.Query["err"])){
        <div class="alert alert-danger">
          @Context.Request.Query["err"]
        </div>
	}

    <h2>You have been successfully logged out!</h2>
    <a class="btn btn-lg btn-success" href="/">Start over...</a>
</div>